ul.bus-stops-list,
ol.bus-stops-list {
	margin-left: 0;
	list-style: none;
	text-align: left;
}

.search-results
{
	text-align: center;
}

.h-center
{
  margin-left: auto !important;
  margin-right: auto !important;
  float: none !important;
}

.main-search {
	width: 20px;
}
